:root {
  --font-family: Inter, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

button {
  color: white;
  font-weight: 600;
  background-color: black;

  height: 2.25rem;
  padding: 0 16px;
  border-radius: 0.75rem;

  border: none;
  cursor: pointer;
  transition: all 0.15s ease;
}
button:hover {
  transform: scale(1.03);
}

.z-index1 {
  z-index: 1;
}
.z-index2 {
  z-index: 2;
}
.z-index3 {
  z-index: 3;
}
.z-index4 {
  z-index: 4;
}
.z-index5 {
  z-index: 5;
}
.z-index6 {
  z-index: 6;
}
.z-index7 {
  z-index: 7;
}

.highligth {
  padding: 0 16px;
  margin: 0 -16px;
  border-radius: 999px;
}
.yellow__highlight {
  background-color: #fceccc;
}
.green__highlight {
  background-color: #deecdd;
  margin: 0;
}
.lightgray__highlight{
  background-color: #D5E5EE;
}
.pink__highlight{
  background-color: #F3E1E9;
  margin-right: 1px;
}

nav {
  height: 68px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;

  background-color: #ffffffa2;
  backdrop-filter: blur(16px);
}
.nav__section {
  height: 100%;
  width: 1152px;

  margin: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__section--logo {
  padding: 8px;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
}
.nav__logo--unriddle {
  padding-bottom: 4px;
}
.nav__section--menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__section--menu button {
  margin-left: 10px;
}
.nav__section--menu a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.9rem;
  padding: 0 10px;
  border-radius: 0.5rem;

  cursor: pointer;
}

.hero-section {
  width: 100%;
  display: grid;
  place-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 4rem auto 0 auto;
  padding: 0 24px;
}

header {
  max-width: 1200px;

  margin: 64px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;

  text-align: center;
}

header h1 {
  font-size: 5.25rem;
  line-height: 1.05;

  font-weight: 600;

  margin: 0;
}
.underline__container {
  position: relative;
}
.underline__container--line {
  width: 230px;

  position: absolute;
  bottom: 0px;
  right: 12px;
}

header p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;

  padding: 0;
  margin: 0 0 12px 0;
}

header button {
  font-size: 14px;
  height: 44px;
  padding: 0 24px;
  margin-bottom: 12px;
}

.header__hero-img {
  width: 100%;
  padding: 8px;
  background-color: rgb(236 236 236);
  border-radius: 1rem;

  margin-top: 55px;
}
.header__researchers {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.header__researchers span {
  font-size: 14px;
  line-height: 1.25rem;

  color: #666666;
}
.header__researchers--carousell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__researchers--carousell img {
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0 0 0 -12px;
  border: 2px solid white;

  border-radius: 100%;
}

.trust {
  text-align: center;
  max-width: 1152px;

  display: flex;
  flex-direction: column;
  padding: 128px 0;
  border-radius: 1rem;

  border-bottom: 1px solid rgb(241 241 241);
}
.trust__info h2 {
  font-size: 2.5rem;
  line-height: 1.15;

  margin: 0;
}
.trust__info p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.trust__imgs {
  max-width: 896px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.trust__imgs img {
  height: 35px;
  padding: 16px;
}

.section__type {
  max-width: 1200px;
  padding: 128px 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-bottom: 1px solid rgb(241 241 241);
  border-radius: 1rem;
}

.section__type h2{
  font-size: 4rem;
  line-height: 1.1;

  margin-bottom: 0;
  margin-top: 0;
}
.section__type p{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.section__type img{
  width: 100%;
  padding: 8px;
  background-color: rgb(236 236 236);
  border-radius: 1rem;

  align-self: center;

  margin-top: 55px;
}
